.search {
    margin-right: 20px;
}

.search__input-field {
    width: 100%;
    padding-left: 32px;
    height: 40px;
    border: none;

    font-family: inherit;
    font-weight: 300;
    font-size: 16px;

    background-image: url('../img/search-icon.svg');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: 0;
}

.search__input-field::placeholder {
    color: #B4BEF0;
}